* {
  box-sizing: border-box;
}
body {
  background-color: rgb(163, 227, 211);
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.user-info {
  color: black;
  margin-left: 2rem;
}

.card {
  background-color: rgb(120, 214, 191);
  border-radius: 20px;
  display: flex;
  max-width: 500px;
  max-height: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  background-color: #034406;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100px;
  height: 50px;
  margin-left: 20px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #034406;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.btn:focus {
  background-color: #034406;
  outline: none;
}

input {
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  color: black;

  font-family: inherit;
  font-size: rem;
  padding: 1rem;
  margin-bottom: 20px;
}
